<% content_for :head do %> <title>Ari Salazar | Film</title>  <% end %>

<div class="content index">

    <a class="index-container fade" href="film/angela" data-text="Angela / Documentary">
        <%= image_tag("film/index/ANGELA.jpg", :class => "img", alt: "Ari Salazar documentary film Angela")%>
    </a>

    <a class="index-container fade" href="film/zeina" data-text="Zeina / Documentary">
        <%= image_tag("film/index/ZEINA.jpg", :class => "img", alt: "Ari Salazar documentary film Zeina")%>
    </a>
    
    <a class="index-container fade" href="film/where-do-i-even-start" data-text="Where Do I Event Start / Documentary">
        <%= image_tag("film/index/WHEREDOIEVENSTART.jpg", :class => "img", alt: "Ari Salazar documentary film Where Do I Even Start")%>
    </a>

    <a class="index-container fade" href="film/last-night-i-had-this-dream" data-text="Last Night I Had this Dream / Experimental">
        <%= image_tag("film/index/LASTNIGHTIHADTHISDREAM.jpg", :class => "img", alt: "Ari Salazar experimental film Last Night I Had this Dream")%>
    </a>

    <a class="index-container fade" href="film/limbo" data-text="Limbo / Experimental">
        <%= image_tag("film/index/LIMBO.jpg", :class => "img", alt: "Ari Salazar experimenta film Limbo")%>
    </a>

    <a class="index-container fade" href="film/vem-plus" data-text="VEM+ / Documentary">
        <%= image_tag("film/index/VEM.jpg", :class => "img", alt: "Ari Salazar experimenta documentary film Vem+")%>
    </a>
</div>

