<% content_for :head do %> <title>Ari Salazar | Print</title>  <% end %>

<div class="content">
    <div class="prints">       
        <div class="row">
            <div class="print-container"><%= image_tag("prints/Print2.png", width: '300px', :class => "img", alt: "Ari Salazar print") %></img></div>
            <div class="print-text">Antigua, Watercolor on Paper (15x18)</div>
        </div>

        <div class="row">
            <div class="print-container"><%= image_tag("prints/Print3.png", width: '300px', :class => "img", alt: "Ari Salazar print") %></div>
            <div class="print-text">Portrait of a Papaya, Watercolor on Paper (20 x 30)</div>
        </div>

        <div class="row">
            <div class="print-container"><%= image_tag("prints/Print4.png", width: '300px', :class => "img", alt: "Ari Salazar print") %></div>
            <div class="print-text">Awake, Asleep, Watercolor on Paper (25x35)</div>
        </div>

        <div class="row">
            <div class="print-container"><%= image_tag("prints/Print5.png", width: '300px', :class => "img", alt: "Ari Salazar print") %></div>
            <div class="print-text">Blue, Pencil on Parchment (15x15)</div>
        </div>

        <div class="row">
            <div class="print-container"><%= image_tag("prints/Print6.png", width: '300px', :class => "img", alt: "Ari Salazar print") %></div>
            <div class="print-text">Amor mio, Watercolor on Paper (18x22)</div>
        </div>

        <div class="row">
            <div class="print-container"><%= image_tag("prints/Print7.jpg", width: '300px', :class => "img", alt: "Ari Salazar print") %></div>
            <div class="print-text">Untitled, Oil Pastel and Pen on Paper (20x30)</div>
        </div>

        <div class="row">
            <div class="print-container"><%= image_tag("prints/Print8.JPG", width: '300px', :class => "img", alt: "Ari Salazar print") %></div>
            <div class="print-text">Asleep, Dreaming, Watercolor on Paper (30 x 20)</div>
        </div>

        <div class="row">
            <div class="print-container"><%= image_tag("prints/Print1.png", width: '300px', :class => "img", alt: "Ari Salazar print") %></div>
            <div class="print-text">Lady in Green, Acrylic on Paper (20x15)</div>
        </div>

    </div>
</div>
