<div class="content">
    <div class="prints">
        <li class="zoom"><img><%= image_tag("prints/Print4.png", width: '300px') %></img></li>
        <li class="zoom"><img><%= image_tag("prints/Print5.png", width: '300px') %></img></li>
        <li class="zoom"><img><%= image_tag("prints/Print6.png", width: '300px') %></img></li>
        <li class="zoom"><img><%= image_tag("prints/Print2.png", width: '300px') %></img></li>
        <li class="zoom"><img><%= image_tag("prints/Print1.png", width: '300px') %></img></li>
        <li class="zoom"><img><%= image_tag("prints/Print3.png", width: '300px') %></img></li>
    <ul>
</div>

<footer></footer>