<ul id='landing-page'>
    <li><%= image_tag("prints/Print1.png", width: '300px') %></li>
    <li><%= image_tag("prints/Print2.png", width: '300px') %></li>
    <li><%= image_tag("prints/Print3.png", width: '300px') %></li>
    <li><%= image_tag("prints/Print4.png", width: '300px') %></li>
    <li><%= image_tag("prints/Print5.png", width: '300px') %></li>
    <li><%= image_tag("prints/Print6.png", width: '300px') %></li>
<ul>
