<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag 'print' %>
<% end %>

<div class="content">
    <div class="prints">
        <div class="print-container"><li><img><%= image_tag("prints/Print4.png", width: '300px') %></img></li></div>
        <div class="print-container"><li><img><%= image_tag("prints/Print5.png", width: '300px') %></img></li></div>
        <div class="print-container"><li><img><%= image_tag("prints/Print6.png", width: '300px') %></img></li></div>
        <div class="print-container"><li><img><%= image_tag("prints/Print2.png", width: '300px') %></img></li></div>
        <div class="print-container"><li><img><%= image_tag("prints/Print1.png", width: '300px') %></img></li></div>
        <div class="print-container"><li><img><%= image_tag("prints/Print3.png", width: '300px') %></img></li></div>
    <ul>
</div>