<div class="content">
    <ul class="prints">
        <div class="print-container"><li><img><%= image_tag("prints/Print1.png", width: '300px') %></img></li></div>
        <div class="print-container"><li><img><%= image_tag("prints/Print2.png", width: '300px') %></img></li></div>
        <div class="print-container"><li><img><%= image_tag("prints/Print3.png", width: '300px') %></img></li></div>
        <div class="print-container"><li><img><%= image_tag("prints/Print4.png", width: '300px') %></img></li></div>
        <div class="print-container"><li><img><%= image_tag("prints/Print5.png", width: '300px') %></img></li></div>
        <div class="print-container"><li><img><%= image_tag("prints/Print6.png", width: '300px') %></img></li></div>
        <div class="print-container"><li><img><%= image_tag("prints/Print7.png", width: '300px') %></img></li></div>
        <div class="print-container"><li><img><%= image_tag("prints/Print8.png", width: '300px') %></img></li></div>
    </ul>
</div>