<!DOCTYPE html>
<html lang="en">
  <head>
    <%= yield :head %>
    <meta charset="UTF-8">
    <meta name="title" content="Ari Salazar | Artist and Film Maker">
    <meta name="description" content="Ari Salazar is an artist and filmmaker based in London. She has worked on various short films, fashion commercials and documentaries.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="WRoKruPijlfnW4LpPRnxjQNxC4Jtf_qdbaySCxfzRRM" />  
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logos/enter.png') %>
  </head>
  <body>
    <div class="page">
      <header>
        <a id='title' href="https://www.arisalazar.com/film"><%= image_tag("logos/name-logo.png", width: '130px', :class => "title-logo") %></a>

        <nav>
          <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>

          <ul class="menu">
            <li><%= link_to 'film', film_path, :class => current_class?(film_path)  %></li>
            <li><%= link_to 'commercial', commercial_path, :class => current_class?(commercial_path)  %></li>
            <li><%= link_to 'print', print_path, :class => current_class?(print_path)  %></li>
            <li><%= link_to 'about', about_path, :class => current_class?(about_path)  %></li>
            <li><%= link_to 'contact', contact_path, :class => current_class?(contact_path)  %></li>
          </ul>
        </nav>
      </header>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
        <%= yield %>
      
      <footer class="footer">
        <div class="social-media">
          <a href="https://www.instagram.com/arisalzr/"><%= image_tag("logos/insta.png", width: '20px') %></a>
          <a href="https://www.facebook.com/ari.salazar"><%= image_tag("logos/facebook.png", width: '20px') %></a>
          <a href="https://vimeo.com/user33990006"><%= image_tag("logos/vimeo.png", width: '20px') %></a>
        </div>
      </footer>
    </div>
  </body>
  </html>
