<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ari Salazar</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('landing-page/enter.png') %>
  </head>
  <body>
    <header>
      <a id='title' href="film"><%= image_tag("landing-page/logo.png", width: '150px') %></a>

      <nav>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>

        <ul class="menu">
          <li><%= link_to 'documentary', documentary_path, :class => current_class?(documentary_path)  %></li>
          <li><%= link_to 'film', film_path, :class => current_class?(film_path)  %></li>
          <li><%= link_to 'fashion', fashion_path, :class => current_class?(fashion_path)  %></li>
          <li><%= link_to 'print', print_path, :class => current_class?(print_path)  %></li>
          <li><%= link_to 'about', about_path, :class => current_class?(about_path)  %></li>
          <li><%= link_to 'contact', contact_path, :class => current_class?(contact_path)  %></li>
        </ul>
      </nav>

    </header>
    <%= yield %>
    <footer></footer>
  </body>
</html>
